<div class="gui">
  <input [(colorPicker)]="this.color0" [value]="this.color0" [style.backgroundColor]="this.color0" />
  <input [(colorPicker)]="this.color1" [value]="this.color1" [style.backgroundColor]="this.color1" />
  <input [(colorPicker)]="this.color2" [value]="this.color2" [style.backgroundColor]="this.color2" />


  <div class="sliderBlock" *ngFor="let item of this.parts">
    <div class="title">{{item}}: {{this.getCurrent(item)[0]}} - {{this.getCurrent(item)[1]}}</div>
    <mat-slider [disabled]="this.disabled" (input)="this.change($event,item)" [max]="this.total-1" [min]="0" [step]="1" [tick-interval]="1"></mat-slider>

  </div>
</div>