<div class="gui">

  <div class="slideBlock">
    <mat-slide-toggle (change)="this.changeCustomColors($event)">
      Color presets
    </mat-slide-toggle>
  </div>


  <div class="customColors" *ngIf="!this.customColors">
    <input [(colorPicker)]="this.color0" [value]="this.color0" [style.backgroundColor]="this.color0" />
    <input [(colorPicker)]="this.color1" [value]="this.color1" [style.backgroundColor]="this.color1" />
    <input [(colorPicker)]="this.color2" [value]="this.color2" [style.backgroundColor]="this.color2" />
  </div>

  <div class="presets" *ngIf="this.customColors">
    <div class="title">curent race: {{this.currentRace}}</div>
    <mat-slider class="race-selector" (input)="this.changeRace($event)" [max]="this.races.length-1" [min]="0" [step]="1" [tick-interval]="1"></mat-slider>

    <div class="colorSets">
      <div class="titles">
        <div class="item">Group 1:</div>
        <div class="item">Group 2:</div>
        <div class="item">Group 3:</div>
      </div>
      <div class="colorSet" *ngFor="let group of this.races[this.currentRace].groups">
        <div class="color" [style.backgroundColor]="group[0]" [class.current]="this.color0==group[0]" (click)="this.selectGroup(group[0], 0)"></div>
        <div class="color" [style.backgroundColor]="group[1]" [class.current]="this.color1==group[1]" (click)="this.selectGroup(group[1], 1)"></div>
        <div class="color" [style.backgroundColor]="group[2]" [class.current]="this.color2==group[2]" (click)="this.selectGroup(group[2], 2)"></div>
      </div>
    </div>
  </div>

  <div class="sliderBlock" *ngFor="let form of this.forms">
    <div class="title">{{form}}:{{this.getNameForType(form)}}, {{this.currentSelected[form].rarity}}</div>
    <div class="blocks">
      <div class="block">
        <div class="subTitle">type:</div>
        <mat-slider [disabled]="this.disabled" (input)="this.change($event,form,'type')" [max]="this.total-1" [min]="0" [step]="1"
          [tick-interval]="1"></mat-slider>
      </div>
      <div class="block">
        <div class="subTitle">rarity:</div>
        <mat-slider [disabled]="this.disabled" (input)="this.change($event,form,'rarity')" [max]="this.total-1" [min]="0" [step]="1"
          [tick-interval]="1"></mat-slider>
      </div>
    </div>

  </div>

  <!-- <div class="backgroundColor">
    Background color:
    <input [(colorPicker)]="this.color3" [value]="this.color3" [style.backgroundColor]="this.color3" />

  </div> -->

</div>

<div class="body" #body [style.backgroundColor]="this.color3">

</div>