.gui {
    position: fixed;
}

.slideBlock {
    margin-bottom: 10px;
}

.sliderBlock {
    margin-bottom: 5px;
    .blocks {
        display: flex;
        height: 25px;
        justify-content: space-between;
    }
    .block {
        width: 48%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        mat-slider {
            width: 200px;
        }
    }
}

.customColors {
    margin-bottom: 10px;
}

.race-selector {
    width: 100%;
}

:host {
    display: block;
    width: 100%; //   background-color: #7ec0ee;
    padding: 10px;
}

.body {
    width: 100%; // height: 100vh;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.colorSets {
    margin-bottom: 10px;
    display: flex;
    .titles {
        .item {
            height: 15px;
            line-height: 15px;
            margin-bottom: 10px;
        }
    }
    .colorSet {
        margin-right: 5px;
        width: 15px; // display: flex;
        .color {
            box-sizing: border-box;
            width: 15px;
            height: 15px;
            margin-bottom: 10px;
            &:not(.current) {
                cursor: pointer;
            }
            &.current {
                border: 2px solid red;
            }
        }
    }
}