
<div class="gui">
<button (click)="this.startGenerateUnicorn()" *ngIf="this.state==0">generate new unicorn</button>
<button (click)="this.unicornGenerated()" *ngIf="this.state==1">unicorn generated</button>
<!-- <button (click)="this.showFinalUnicorn()">just show unicorn</button> -->

</div>
<canvas #canvas></canvas>