<!-- <div class="buttons">
    <button (click)="this.select(0)">
        constructor</button>
    <button (click)="this.select(1)">born animation(island)</button>
    <button (click)="this.select(2)">idle animation</button>
    <button (click)="this.select(3)">born animation(platform)</button>
</div> -->
<!-- <app-view4>

</app-view4> -->
<!-- <app-view6 *ngIf="this.current==1"></app-view6>
 -->

<app-idle></app-idle>

<!-- <app-born ></app-born>  -->

<!-- <app-view4 *ngIf="this.current==-1"></app-view4> -->