<div class="gui">
  <input [(colorPicker)]="this.colorA"  [value]="this.colorA" [style.backgroundColor]="this.colorA"/>
  <!-- <input [(colorPicker)]="this.colorB"  [value]="this.colorB" [style.backgroundColor]="this.colorB"/> -->
<!-- 

  <div class="selectors">
    <div class="selector" *ngFor="let item of this.parts">
      <div class="title">{{item}}</div>
      <mat-slider (input)="this.change($event, item)" [max]="this.total" [min]="0" [step]="1" [tick-interval]="1"></mat-slider>
    </div>
  </div> -->
   <!-- <button (click)="this.click()">click</button> -->
  <div class="sliderBlock">
    <div class="title">тело:{{this.titles[this.bodyType]}}</div>
    <mat-slider (input)="this.change($event,'body')" [max]="this.total" [min]="0" [step]="1" [tick-interval]="1"></mat-slider>
    
  </div>
  <div class="sliderBlock">
    <div class="title">ноги:{{this.titles[this.legsType]}}</div>
    <mat-slider (input)="this.change($event,'legs')" [max]="this.total" [min]="0" [step]="1" [tick-interval]="1"></mat-slider>
  </div>

</div>